* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.bg-admin {
    margin-left: 25rem;
    width: 60%;
    height: 100%;
    background-color: #fff;
}

.bg-admin .container {
    width: 100%;
    height: 96%;
    margin-left: 3%;
    margin-top: 1.5%;
    padding: 0 0;
    background-color: #fff;
    box-shadow: 0 0 5px 0;
    border-top: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, rgba(0, 255, 255, 0.4), rgba(253, 158, 15, 0.4));
}

.bg-admin .container .bg-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.bg-admin .container .bg-title h1 {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
}

.bk-form-cont {
    position: relative;
    width: 60%;
    height: 96%;
    margin-top: 1%;
    transform: translateX(290%);
    background-color: #fff;
    box-shadow: 0 0 5px 0;
    border-top: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, rgba(0, 255, 255, 0.4), rgba(253, 158, 15, 0.4));
    /*animation: bk-display 0.05s;*/
}

textarea {
    padding-top: 1rem;
}
/*
@keyframes bk-display {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(290%);
    }
}
*/
.bk-form h1 {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
}

.bk-btn {
    border: none;
    font-size: 25px;
    margin-left: 5%;
    color: crimson;
    background-color: transparent;
    cursor: pointer;
}

.bk-form a {
    text-decoration: none;
    border: none;
}

.bk-form {
    width: 100%;
    margin-top: 5%;
}

.bk-form form {
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.bk-form form label {
    margin-top: 1.5rem;
    font-size: 17px;
}

.bk-form form input, textarea {
    height: 50px;
    padding-left: 3%;
    font-size: 15px;
    outline: none;
    color: gray;
    border: none;
    border-bottom: 1px solid #000;
    background-color: rgba(128, 128, 128, 0.1);
}

.bk-form form input[type="file"] {
    height: 30px;
    padding-left: 3%;
    font-size: 15px;
    outline: none;
    color: gray;
    border: none;
    border-bottom: 1px solid #000;
    background-color: rgba(128, 128, 128, 0.1);
}

.bk-form .lg-btn button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    margin: 1rem 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.bk-form .lg-btn button span {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}

.bk-form .lg-btn button:hover span {
    width: 100%;
}

.bk-form .lg-btn button:hover {
    border: none;
    color: #fff;
}

.bk-form .lg-btn {
    display: flex;
    justify-content: center;
}

.sbt-msg {
    display: none;
    text-align: center;
    padding-top: 1rem;
    color: crimson;
    font-size: 16px;
}

.login {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 5px 0;
}

.login-form h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.login-form {
    width: 40%;
    margin-top: 14%;
    transform: translateX(80%);
    align-self: center;
    background-color: rgba(162, 221, 211, 0.404);
    border-radius: 10px;
}

.login-form form {
    padding: 2% 8%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.login-form form label {
    padding: 5px 0;
}

.login-form form input{
    height: 30px;
    padding-left: 2%;
    font-size: 15px;
    outline: none;
    color: gray;
    border: none;
    border-bottom: 1px solid #000;
    background-color: rgba(128, 128, 128, 0.1);
}

.login-btn button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.login-btn button span {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}

.login-btn button:hover span {
    width: 100%;
}

.login-btn button:hover {
    border: none;
}

.login-form .login-btn {
    display: flex;
    justify-content: center;
}

.login-form .login-btn button {
    color: #000;
}

.login-form .login-btn button:hover {
    color: #fff;
}

.login-form .lg {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 5%;
    margin-right: 2%;
}

.lg-msg {
    display: none;
    text-align: center;
    padding-top: 2%;
    color: rgba(0, 128, 0, 0.678);
}