@charset "UTF-8";

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 25px;
  border: 5px solid #E9EAED !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #E9EAED !important;
}

a {
  color: #000 !important;
  text-decoration: underline;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

nav {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: none !important;
}
nav a {
  outline: none;
  text-decoration: none;
}

nav .b-line {
  opacity: 0.2;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  cursor: pointer;
}

#lg-name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.b_nav {
  opacity: 0.2;
  color: #000;
}

.b_nav:hover {
  color: #fff !important;
  opacity: 1;
}

.navbar {
  margin-left: 2.5rem;
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.d-line, .copy {
  color: #000 !important;
  opacity: 0.4;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

.navbar .d_nav {
  color: #000 !important;
  opacity: 0.2;
}

.navbar .d_nav:hover {
  color: #fff !important;
  opacity: 1;
}

.b-container {
  width: 40%;
  background-color: #fff;
  margin-left: 30%;
  margin-bottom: 1.5rem;
}

.b-container header {
  padding: 1rem 1.5rem 0 1.5rem;
}

.b-container h1 {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.article {
  padding: 3rem 6rem;
  text-align: center;
}